In [8]:
import pandas as pd
import numpy as np
import cv2
from ast import literal_eval

In [20]:
image_data = pd.read_csv("DataSet/Images/data.csv")

In [21]:
image_data

      Unnamed: 0                                             Images  Class/ASD
0              0  [[[ 29 108 165]\n  [ 27 106 163]\n  [ 26 105 1...          1
1              0  [[[221 211 223]\n  [213 206 219]\n  [202 200 2...          1
2              0  [[[178 252 252]\n  [176 252 255]\n  [168 246 2...          1
3              0  [[[250 253 251]\n  [249 252 250]\n  [247 250 2...          1
4              0  [[[ 69 122  78]\n  [ 69 124  75]\n  [ 67 125  ...          1
...          ...                                                ...        ...
2892           0  [array([[[ 28,  41,  57],\n        [ 27,  41, ...          0
2893           0  [array([[[252, 248, 254],\n        [252, 248, ...          0
2894           0  [array([[[  0,  34,  64],\n        [  0,  34, ...          0
2895           0  [array([[[174, 120,  59],\n        [174, 127, ...          0
2896           0  [array([[[ 60,  66,  85],\n        [ 55,  61, ...          0

[2897 rows x 3 columns]

In [22]:
image_data.drop('Unnamed: 0', axis = 1, inplace = True)

In [23]:
image_data

                                                 Images  Class/ASD
0     [[[ 29 108 165]\n  [ 27 106 163]\n  [ 26 105 1...          1
1     [[[221 211 223]\n  [213 206 219]\n  [202 200 2...          1
2     [[[178 252 252]\n  [176 252 255]\n  [168 246 2...          1
3     [[[250 253 251]\n  [249 252 250]\n  [247 250 2...          1
4     [[[ 69 122  78]\n  [ 69 124  75]\n  [ 67 125  ...          1
...                                                 ...        ...
2892  [array([[[ 28,  41,  57],\n        [ 27,  41, ...          0
2893  [array([[[252, 248, 254],\n        [252, 248, ...          0
2894  [array([[[  0,  34,  64],\n        [  0,  34, ...          0
2895  [array([[[174, 120,  59],\n        [174, 127, ...          0
2896  [array([[[ 60,  66,  85],\n        [ 55,  61, ...          0

[2897 rows x 2 columns]