In [1]:
import pandas as pd

In [14]:
data_1 = pd.read_csv('./DataSet/Screening/Autism Adolescent/csv_result-Autism-Adolescent-Data.csv')

### Data-1

In [15]:
data_1

,id,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,0,0,0,1,1,1,1,1,1,...,m,Hispanic,yes,yes,Austria,no,6,12-16 years,Parent,NO
1,2,0,0,0,0,0,0,0,0,1,...,m,Black,no,no,Austria,no,2,12-16 years,Relative,NO
2,3,0,0,0,0,0,0,0,0,1,...,f,?,no,no,AmericanSamoa,no,2,12-16 years,?,NO
3,4,0,1,1,1,1,1,0,1,1,...,f,White-European,no,no,United Kingdom,no,7,12-16 years,Self,YES
4,5,1,1,1,1,1,1,1,0,0,...,f,?,no,no,Albania,no,7,12-16 years,?,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,100,0,1,1,1,0,1,1,0,1,...,f,Middle Eastern,no,no,Anguilla,yes,6,12-15 years,Parent,NO
100,101,1,0,1,0,0,0,0,1,0,...,m,Asian,no,no,India,no,4,12-15 years,Parent,NO
101,102,1,0,0,1,1,1,1,1,1,...,f,White-European,no,no,United Kingdom,no,8,12-16 years,Self,YES
102,103,1,1,0,1,1,0,0,0,1,...,f,White-European,no,no,United Kingdom,no,6,12-16 years,Self,NO
103,104,1,0,1,0,0,1,1,1,1,...,m,Asian,no,no,India,no,6,12-16 years,Parent,NO

In [16]:
data_1.drop('id', axis=1, inplace=True)

In [17]:
display(data_1)

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,0,0,0,1,1,1,1,1,1,0,...,m,Hispanic,yes,yes,Austria,no,6,12-16 years,Parent,NO
1,0,0,0,0,0,0,0,0,1,1,...,m,Black,no,no,Austria,no,2,12-16 years,Relative,NO
2,0,0,0,0,0,0,0,0,1,1,...,f,?,no,no,AmericanSamoa,no,2,12-16 years,?,NO
3,0,1,1,1,1,1,0,1,1,0,...,f,White-European,no,no,United Kingdom,no,7,12-16 years,Self,YES
4,1,1,1,1,1,1,1,0,0,0,...,f,?,no,no,Albania,no,7,12-16 years,?,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,0,1,1,1,0,1,1,0,1,0,...,f,Middle Eastern,no,no,Anguilla,yes,6,12-15 years,Parent,NO
100,1,0,1,0,0,0,0,1,0,1,...,m,Asian,no,no,India,no,4,12-15 years,Parent,NO
101,1,0,0,1,1,1,1,1,1,1,...,f,White-European,no,no,United Kingdom,no,8,12-16 years,Self,YES
102,1,1,0,1,1,0,0,0,1,1,...,f,White-European,no,no,United Kingdom,no,6,12-16 years,Self,NO
103,1,0,1,0,0,1,1,1,1,0,...,m,Asian,no,no,India,no,6,12-16 years,Parent,NO