### Data-2.2

In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [4]:
data_2_2 = pd.read_csv('D:\COLLEGE\CODING\Github Repos\DeepDet\DataSet\Screening/Autism adults/autism_screening_2.csv')

In [5]:
data_2_2

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,...,f,White-European,no,no,United States,no,6.0,18 and more,Self,NO
1,1,1,0,1,0,0,0,1,0,1,...,m,Latino,no,yes,Brazil,no,5.0,18 and more,Self,NO
2,1,1,0,1,1,0,1,1,1,1,...,m,Latino,yes,yes,Spain,no,8.0,18 and more,Parent,YES
3,1,1,0,1,0,0,1,1,0,1,...,f,White-European,no,yes,United States,no,6.0,18 and more,Self,NO
4,1,0,0,0,0,0,0,1,0,0,...,f,?,no,no,Egypt,no,2.0,18 and more,?,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,0,1,0,1,1,0,1,1,1,1,...,f,White-European,no,no,Russia,no,7.0,18 and more,Self,YES
700,1,0,0,0,0,0,0,1,0,1,...,m,Hispanic,no,no,Mexico,no,3.0,18 and more,Parent,NO
701,1,0,1,1,1,0,1,1,0,1,...,f,?,no,no,Russia,no,7.0,18 and more,?,YES
702,1,0,0,1,1,0,1,0,1,1,...,m,South Asian,no,no,Pakistan,no,6.0,18 and more,Self,NO
703,1,0,1,1,1,0,1,1,1,1,...,f,White-European,no,no,Cyprus,no,8.0,18 and more,Self,YES

#### Converting binary categorial variable to numerical variables

In [6]:
data_2_2['gender'].replace(['f','m'], [0,1] ,inplace=True)
data_2_2['jundice'].replace(['no','yes'], [0,1] ,inplace=True)
data_2_2['austim'].replace(['no','yes'], [0,1] ,inplace=True)
data_2_2['used_app_before'].replace(['no','yes'], [0,1] ,inplace=True)
data_2_2['Class/ASD'].replace(['NO','YES'], [0,1] ,inplace=True)

In [7]:
data_2_2

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,...,0,White-European,0,0,United States,0,6.0,18 and more,Self,0
1,1,1,0,1,0,0,0,1,0,1,...,1,Latino,0,1,Brazil,0,5.0,18 and more,Self,0
2,1,1,0,1,1,0,1,1,1,1,...,1,Latino,1,1,Spain,0,8.0,18 and more,Parent,1
3,1,1,0,1,0,0,1,1,0,1,...,0,White-European,0,1,United States,0,6.0,18 and more,Self,0
4,1,0,0,0,0,0,0,1,0,0,...,0,?,0,0,Egypt,0,2.0,18 and more,?,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,0,1,0,1,1,0,1,1,1,1,...,0,White-European,0,0,Russia,0,7.0,18 and more,Self,1
700,1,0,0,0,0,0,0,1,0,1,...,1,Hispanic,0,0,Mexico,0,3.0,18 and more,Parent,0
701,1,0,1,1,1,0,1,1,0,1,...,0,?,0,0,Russia,0,7.0,18 and more,?,1
702,1,0,0,1,1,0,1,0,1,1,...,1,South Asian,0,0,Pakistan,0,6.0,18 and more,Self,0
703,1,0,1,1,1,0,1,1,1,1,...,0,White-European,0,0,Cyprus,0,8.0,18 and more,Self,1

In [9]:
print("Counting ? values\n")
print(data_2_2.isin(['?']).sum(axis=0))

Counting ? values

A1_Score            0
A2_Score            0
A3_Score            0
A4_Score            0
A5_Score            0
A6_Score            0
A7_Score            0
A8_Score            0
A9_Score            0
A10_Score           0
age                 0
gender              0
ethnicity          95
jundice             0
austim              0
contry_of_res       0
used_app_before     0
result              0
age_desc            0
relation           95
Class/ASD           0
dtype: int64

#### Feature Scaling

In [10]:
enc = LabelEncoder()
categ = ['ethnicity','contry_of_res','relation']
data_2_2[categ] = data_2_2[categ].apply(enc.fit_transform)

In [11]:
data_2_2

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,...,0,10,0,0,64,0,6.0,18 and more,5,0
1,1,1,0,1,0,0,0,1,0,1,...,1,4,0,1,13,0,5.0,18 and more,5,0
2,1,1,0,1,1,0,1,1,1,1,...,1,4,1,1,56,0,8.0,18 and more,3,1
3,1,1,0,1,0,0,1,1,0,1,...,0,10,0,1,64,0,6.0,18 and more,5,0
4,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,22,0,2.0,18 and more,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,0,1,0,1,1,0,1,1,1,1,...,0,10,0,0,51,0,7.0,18 and more,5,1
700,1,0,0,0,0,0,0,1,0,1,...,1,3,0,0,40,0,3.0,18 and more,3,0
701,1,0,1,1,1,0,1,1,0,1,...,0,0,0,0,51,0,7.0,18 and more,0,1
702,1,0,0,1,1,0,1,0,1,1,...,1,8,0,0,47,0,6.0,18 and more,5,0
703,1,0,1,1,1,0,1,1,1,1,...,0,10,0,0,19,0,8.0,18 and more,5,1

#### Filling missing values

In [15]:
data_2_2['ethnicity'] = data_2_2['ethnicity'].replace(0,np.nan)
data_2_2['relation'] = data_2_2['relation'].replace(0,np.nan)
data_2_2['age'] = data_2_2['age'].replace('?',np.nan)

In [16]:
print(data_2_2.isnull().any().any())
print(data_2_2.isnull().sum().sum())

True
192

In [17]:
data_2_2.columns[data_2_2.isna().any()].tolist()

['age', 'ethnicity', 'relation']

In [18]:
data_2_2['ethnicity'].fillna(data_2_2['ethnicity'].mean(), inplace = True)
data_2_2['relation'].fillna(data_2_2['relation'].mean(), inplace = True)
data_2_2['age'].fillna(0, inplace = True)

In [19]:
print(data_2_2.isnull().any().any())
print(data_2_2.isnull().sum().sum())

False
0

In [20]:
data_2_2

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,...,0,10.000000,0,0,64,0,6.0,18 and more,5.000000,0
1,1,1,0,1,0,0,0,1,0,1,...,1,4.000000,0,1,13,0,5.0,18 and more,5.000000,0
2,1,1,0,1,1,0,1,1,1,1,...,1,4.000000,1,1,56,0,8.0,18 and more,3.000000,1
3,1,1,0,1,0,0,1,1,0,1,...,0,10.000000,0,1,64,0,6.0,18 and more,5.000000,0
4,1,0,0,0,0,0,0,1,0,0,...,0,6.133005,0,0,22,0,2.0,18 and more,4.738916,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,0,1,0,1,1,0,1,1,1,1,...,0,10.000000,0,0,51,0,7.0,18 and more,5.000000,1
700,1,0,0,0,0,0,0,1,0,1,...,1,3.000000,0,0,40,0,3.0,18 and more,3.000000,0
701,1,0,1,1,1,0,1,1,0,1,...,0,6.133005,0,0,51,0,7.0,18 and more,4.738916,1
702,1,0,0,1,1,0,1,0,1,1,...,1,8.000000,0,0,47,0,6.0,18 and more,5.000000,0
703,1,0,1,1,1,0,1,1,1,1,...,0,10.000000,0,0,19,0,8.0,18 and more,5.000000,1

#### DataFrame to CSV

In [ ]:
data_2_2.to_csv('D:\COLLEGE\CODING\Github Repos\DeepDet\DataSet\Screening/Autism adults/new_autism_screening_2.csv')